* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: 70px;
    grid-template-areas:
        "aside conteudo" 
        "aside conteudo";
    height: 100vh;
}
main {
    grid-area: conteudo;
    background-size: cover;
    background-image: url(https://i.pinimg.com/736x/25/95/d9/2595d962422a491646634d3306e97e69.jpg);
    color: white;
    /*display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside {
    grid-area: aside;
    background-color: rgb(74, 74, 74);
    color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-image: url(https://i.pinimg.com/736x/ca/9b/50/ca9b509939b44f96a2859434274bf9ea.jpg);
    background-size: cover;
    background-position-x: center;
}
h1 {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.Undo-Forsaken {
padding: 18%;
padding-left: 20%;
background-position: 5% 20%;
transition: 1s;
border: none;
border-radius: 100%;
opacity: 20%;

background-image: url(https://scontent-gru2-1.xx.fbcdn.net/v/t1.15752-9/494828016_2235306616883945_4304176120147533289_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0024fc&_nc_ohc=7b0ArWydK7sQ7kNvwFHa7Rh&_nc_oc=AdktbmIM01ebw85IMdspTRWG5IlV3tJyHcGAhgoXBBMOT-8ZgiYXCwEI2SQy9pOraIA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-gru2-1.xx&oh=03_Q7cD3AFnDOVxsugTWbxFTOdA15Gwe0dlhnilr6vSlHWMyyzaWA&oe=68D0560E);
}
.Undo-Forsaken:hover {
opacity: 90%;
padding: 33%;
background-position: 40% 40%;
/*background-size: 100%;*/

}