* {
            
    margin: none;
    padding: 0;
    box-sizing: border-box;
    }
body {
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
    "aside header" 
    "aside conteudo"
    ;
    height: 100vh;
    margin: 0;
}
header {
    grid-area: header;
    background-color: rgb(44, 49, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: rgb(228, 239, 248);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
aside {
    grid-area: aside;
    display: flex;
    background-color: brown;
    background-size: auto;

}
main {
    grid-area: conteudo;
    background-image: url(https://scontent-gru1-1.xx.fbcdn.net/v/t1.15752-9/540696400_675793958195702_6623463817043073484_n.png?_nc_cat=101&ccb=1-7&_nc_sid=0024fc&_nc_ohc=oGsdVzJ3BaAQ7kNvwFQBUH1&_nc_oc=AdkXh1-d1R0DgUYHuaEOSqJI3BLCOTM4W63I2jv_rDGjW7JNuwKD5TEKwTl1AYBwcPQ&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-gru1-1.xx&oh=03_Q7cD3AEuc1mwnMHX0OaE3tS-LlFoySIyJ0BU7k8u3ShQNx9vLA&oe=68D7F17A);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(228, 239, 248);
}




.conteudo-centralizado {
    width: 350px;
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.voltar {
    height: 70px;
    width: 70px;
    transition: 0.5s;
    padding: 10%;
}
.voltar:hover {
    padding: 0%;
}

.perfil-icone { /*a imagem é um SVG*/
    height: 200px;
    width: 200px;
    background-color: blue;
}
.fundo-do-input {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);
}